<div class="container">
        <hr>

        <!-- Card deck -->
        <div class="card-deck">

          <!-- Card -->
          <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="http://piresthiago.com.br/images/banners/python_card.png"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">Python</h4>
              <!--Text-->
              <p class="card-text ">Projetos criados com a linguagem de programação Python e seguindo as recomendações de boas práticas para aplicações mais robustas.</p>
            </div>

          </div>
          <!-- Card -->

          <!-- Card -->
          <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="http://piresthiago.com.br/images/banners/responsivo_card.png"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">Sites Responsivos</h4>
              <!--Text-->
              <p class="card-text">Páginas web que adaptam-se a tela do dispositivo que estão sendo exibidas, seja ele, um computador, notebook, tablet ou smartphone.</p>
            </div>

          </div>
          <!-- Card -->

          <!-- Card -->
          <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="http://piresthiago.com.br/images/banners/uml_card.png"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!--Title-->
              <h4 class="card-title">Qualidade Garantida</h4>
              <!--Text-->
              <p class="card-text">Sites desenvolvidos desde o iníco utilizando a Linguagem de Modelagem Unificada que contribui com a qualidade do projeto.</p>

            </div>

          </div>
          <!-- Card -->

        </div>
        <!-- Card deck -->

      </div>